<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Все пользлователи</title>
  <style>table th, table td {
    padding: 8px;
  }</style>
</head>
<body>
<h2>Person Page</h2>

<table>

  <tr style="text-align: center">
    <th>ID пользователя</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Age</th>
  </tr>

  <tbody>
  <tr th:each="person, iterstat : ${allPersons}" style="text-align: center">

    <td th:text="${person.getId()}"></td>
    <td th:text="${person.getName()}"></td>
    <td th:text="${person.getSurname()}"></td>
    <td th:text="${person.getEmail()}"></td>
    <td th:text="${person.getAge()}"></td>
<!--    <td>
      <table>
        <tr>
          <td th:each="role : ${person.getRoles()}" ,  th:text="${role.getRole()}"></td>
        </tr>
      </table>
    </td>-->

    <!--Кнопка Информации-->
    <td>
      <form th:action="@{/admin/people/{id}(id=${person.getId()})}">
        <button> INFO</button>
      </form>
    </td>

    <!--Кнопка Удаления пользователя-->
    <td>
      <form th:action="@{/admin/people/{id}(id=${person.getId()})}" th:method="DELETE">
        <input type="submit" value="DELETE"/>
      </form>
    </td>

<br>
    <!--Кнопка Обновления Информации-->
    <td>
      <form th:action="@{/admin/people/{id}/edit(id=${person.getId()})}">
        <button> Update Person</button>
      </form>
    </td>

  </tbody>

</table>

<td>
  <form th:action="@{/logout}">
    <button>Выход</button>
  </form>
</td>

<br/>

<hr/>

<a href="/admin/people/newPerson">Create New User</a>

</body>
</html>