<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:action="@{/admin/people/{id}(id=${editPerson.getId()})}" th:method="PATCH" th:object="${editPerson}">
    <label for="name">Enter name: </label>
    <input id="name" th:field="*{name}" type="text"/>
    <br/><br>

    <label for="surname">Enter surname: </label>
    <input id="surname" th:field="*{surname}" type="text"/>
    <br/><br>

    <label for="email">Enter email: </label>
    <input id="email" th:field="*{email}" type="text"/>
    <br/><br>

    <label for="age">Enter age: </label>
    <input id="age" th:field="*{age}" type="text"/>
    <br/><br>

    <input type="submit" value="Update Person"/>
</form>
</body>
</html>