<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>

<h2>Информация о пользователе</h2>
<br>

<table>
    <tr>
        <td th:text="'Ваш логин: ' +  ${person.getUsername()}">Логин</td>
    </tr>
    <tr>
        <td th:text="'Ваш пароль: : ' +  ${person.getPassword()()}">Пароль</td>
    </tr>
    <tr>
        <td>
            <P> Все роли пользователя: </P>
        </td>
        <td th:each="roles : ${person.getRoles()}"></td>
    </tr>
</table>

<form th:action="@{/logout}">
    <button> Выйти</button>
</form>

<hr>

</body>
</html>