<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png"
          href="https://e7.pngegg.com/pngimages/6/979/png-clipart-spring-framework-computer-icons-spring-web-flow-java-advancement-leaf-logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>

<div id="header" class="d-flex p-0 bg-dark">
    <div class="text-white w-100 pb-1 fs-4">
        <span class="align-middle ms-3  fw-bold" th:text="${person.getName()}">admin</span>
        <span class="align-middle">with roles:</span>
        <span class="align-middle" th:block th:each="role : ${person.getRoles()}">
            <span th:text="${role.getRole().substring(5)}"/>
        </span>
    </div>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" class="btn text-secondary bg-dark">
    </form>
</div>

<!--    body-->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 ps-0 pe-0">
            <div class="nav nav-pills flex-column pt-3">
                <a class="nav-link active" href="/admin">Admin</a>
                <a class="nav-link" href="/user">User</a>
            </div>
        </div>

        <div class="col-10 bg-light">
            <div class="container-fluid vh-100 ms-1 mt-3">
                <h1>Admin panel</h1>
                <nav class="nav nav-tabs">
                    <a class="nav-link active" data-bs-toggle="tab" href="#allUsers">People table</a>
                    <a class="nav-link" data-bs-toggle="tab" href="#newUser">New User</a>
                </nav>
                <div class="tab-content">
                    <!--tab People-->
                    <div class="tab-pane active" id="allUsers" role="tabpanel">
                        <table class="table table-striped table-bordered">
                            <tbody>
                            <tr>
                                <th class="h4 px-4 py-2">All users</th>
                            </tr>
                            <tr>
                                <td class="bg-white px-4 py-4">
                                    <table class="table table-striped border-top">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Email</th>
                                            <th>Age</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${people}">
                                            <td th:text="${user.getId()}">{ID}</td>
                                            <td th:text="${user.getName()}">{First Name}</td>
                                            <td th:text="${user.getSurname()}">{Last Name}</td>
                                            <td th:text="${user.getEmail()}">{Age}</td>
                                            <td th:text="${user.getAge()}">{Email}</td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td th:each="role : ${user.getRoles()}"
                                                            th:text="${role.getRole().substring(5)}"/>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <button class="btn btn-info" id="editButton" data-bs-toggle="modal"
                                                        data-bs-target="#editModal"
                                                        th:attrappend="data-bs-target=${user.getId()}">
                                                    Edit
                                                </button>
                                                <!--Modal EDIT-->
                                                <div id="editModal" th:attrappend="id=${user.getId()}" class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Edit Person</h4>
                                                                <button class="btn-close"
                                                                        data-bs-dismiss="modal"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="editForm" th:method="PATCH"
                                                                      th:action="@{/admin/people/{id}(id=${user.getId()})}"
                                                                      th:object="${user}" th:attrappend="id=${user.getId()}"
                                                                      class="text-center">
                                                                    <div class="container col-6">
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="editId">ID</label>
                                                                            <input th:value="*{id}" type="number"
                                                                                   id="editId" class="form-control"
                                                                                   name="id" disabled>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="editFirstName">Name</label>
                                                                            <input th:value="*{name}" type="text"
                                                                                   id="editFirstName"
                                                                                   class="form-control"
                                                                                   name="name">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="editLastName">Surname</label>
                                                                            <input th:value="*{surname}" type="text"
                                                                                   id="editLastName"
                                                                                   class="form-control" name="surname">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="editEmail">Email</label>
                                                                            <input th:value="*{email}" type="email"
                                                                                   id="editEmail" class="form-control"
                                                                                   name="email">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="editAge">Age</label>
                                                                            <input th:value="*{age}" type="number"
                                                                                   id="editAge" class="form-control"
                                                                                   name="age">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="editUsername">Email</label>
                                                                            <input th:value="*{username}" type="email"
                                                                                   id="editUsername" class="form-control"
                                                                                   name="email">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="editPassword">Password</label>
                                                                            <input type="password" id="editPassword"
                                                                                   class="form-control" name="password"
                                                                                   placeholder="Password">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="editRoles">Roles</label>
                                                                            <select id="editRoles" class="form-select"
                                                                                    multiple name="roles" size="2">
                                                                                <option th:each="role : ${allRoles}"
                                                                                        th:value="${role.id}"
                                                                                        th:text="${role.getRole().substring(5)}"
                                                                                        th:selected="${user.getRoles().contains(role)}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="submit" form="editForm"
                                                                        th:attrappend="form=${user.getId()}"
                                                                        class="btn btn-primary">
                                                                    Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" id="deleteButton"
                                                        data-bs-target="#deleteModal" data-bs-toggle="modal"
                                                        th:attrappend="data-bs-target=${user.getId()}">
                                                    Delete
                                                </button>
                                                <!--Modal DELETE-->
                                                <div id="deleteModal" th:attrappend="id=${user.getId()}" class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Delete user</h4>
                                                                <button class="btn-close"
                                                                        data-bs-dismiss="modal"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="deleteForm" th:method="DELETE"
                                                                      th:action="@{/admin/people/{id}(id=${user.getId()})}"
                                                                      th:object="${user}" th:attrappend="id=${user.getId()}"
                                                                      class="text-center">
                                                                    <div class="container col-6">
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="deleteId">ID</label>
                                                                            <input th:value="*{id}" type="number"
                                                                                   id="deleteId" class="form-control"
                                                                                   name="id" disabled>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="deleteName">First
                                                                                name</label>
                                                                            <input th:value="*{name}" type="text"
                                                                                   id="deleteName"
                                                                                   class="form-control" name="name"
                                                                                   disabled>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="deleteSurname">Last
                                                                                name</label>
                                                                            <input th:value="*{surname}" type="text"
                                                                                   id="deleteSurname"
                                                                                   class="form-control" name="surname"
                                                                                   disabled>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="deleteEmail">Email</label>
                                                                            <input th:value="*{email}" type="text"
                                                                                   id="deleteEmail" class="form-control"
                                                                                   name="email" disabled>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="deleteAge">Age</label>
                                                                            <input th:value="*{age}" type="number"
                                                                                   id="deleteAge" class="form-control"
                                                                                   name="age" disabled>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label class="form-label fw-bold"
                                                                                   for="deleteRoles">Roles</label>
                                                                            <select id="deleteRoles" class="form-select"
                                                                                    multiple name="roles" size="2"
                                                                                    disabled>
                                                                                <option th:each="role : ${user.getRoles()}"
                                                                                        th:value="${role.getId()}"
                                                                                        th:text="${role.getRole().substring(5)}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="submit" form="deleteForm"
                                                                        th:attrappend="form=${user.getId()}"
                                                                        class="btn btn-danger">
                                                                    Delete
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--tab new User-->
                    <div class="tab-pane" id="newUser" role="tabpanel">
                        <table class="table table-striped table-bordered">
                            <tbody>
                            <tr>
                                <th class="h4 px-4 py-2">Add new user</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="container col-4">
                                        <form th:method="POST" th:action="@{/admin/people/newPerson}" th:object="${newPerson}"
                                              class="text-center">
                                            <label class="form-label fw-bold  mt-3" for="firstName">Name</label>
                                            <input class="form-control" type="text" id="firstName"
                                                   placeholder="First name" th:field="*{name}">

                                            <label class="form-label fw-bold  mt-3" for="lastName">Surname</label>
                                            <input class="form-control" type="text" id="lastName"
                                                   placeholder="Last name" th:field="*{surname}">

                                            <label class="form-label fw-bold  mt-3" for="age">Age</label>
                                            <input class="form-control" type="number" id="age" placeholder="Age"
                                                   th:field="*{age}">

                                            <label class="form-label fw-bold  mt-3" for="email">Email</label>
                                            <input class="form-control" type="email" id="email" placeholder="Email"
                                                   th:field="*{email}">

                                            <label class="form-label fw-bold  mt-3" for="username">Username</label>
                                            <input class="form-control" type="email" id="username" placeholder="Username"
                                                   th:field="*{username}">

                                            <label class="form-label fw-bold  mt-3" for="password">Password</label>
                                            <input class="form-control" type="password" id="password" placeholder="Password"
                                                   th:field="*{password}">

                                            <label class="form-label fw-bold  mt-3" for="roles">Roles</label>
                                            <select class="form-select" id="roles" size="2" th:field="*{roles}"
                                                    multiple>
                                                <option th:each="role : ${allRoles}" th:value="${role.getId()}"
                                                        th:text="${role.getRole().substring(5)}"></option>
                                            </select>

                                            <input type="submit" value="Add New Person" class="btn btn-success mt-3">
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>